#select-data .modal-dialog {
	width: 100%;
	height: 100%;
	padding: 0;
}

#select-data .modal-content {
	height: 100%;
	border-radius: 0;
}

#select-data .modal-body {
	height: 85%;
}

#select-data-graph {
	margin: 10px auto;
	height: 100%;
	background-color: white;
}

.modal-body {
	position: relative;
	overflow-y: auto;
}

.panel-default > .panel-heading-custom {
	background: #343A40; 
	color: #fff;
	height: 40px;
}

marquee{
	height: 100%;
}

marquee p
{
    white-space:nowrap;
}


#create-statistical-report .modal-dialog {
	width: 80%;
	height: 60%;
	padding: 0;
}

#create-statistical-report .modal-content {
	height: 80%;
	border-radius: 0;
}

#create-statistical-report .modal-body {
	height: 75%;
}


#view-statistical-report .modal-dialog {
	width: 80%;
	height: 40%;
	padding: 0;
}

#view-statistical-report .modal-content {
	height: 80%;
	border-radius: 0;
}

#view-statistical-report .modal-body {
	height: 60%;
}

/*#chart .modal-dialog {
	width: 80%;
	height: 60%;
	padding: 0;
}

#chart .modal-content {
	height: 80%;
	border-radius: 0;
}

#chart .modal-body {
	height: 75%;
}
*/






.node {
    cursor: pointer;
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node text {
    font: 20px sans-serif;
}
path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
.link text {
    font: 14px sans-serif;
    fill: black;
}





#data-flow .modal-dialog {
	width: 100%;
	height: 100%;
	padding: 0;
}

#data-flow .modal-content {
	height: 100%;
	border-radius: 0;
}

#data-flow .modal-body {
	height: 85%;
}

#data-flow-graph {
	margin: 10px auto;
	height: 100%;
	background-color: white;
}





table.legend_table {
	font-size: 11px;
	border-width:1px;
	border-color:#d3d3d3;
	border-style:solid;
}

table.legend_table,td {
	border-width:1px;
	border-color:#d3d3d3;
	border-style:solid;
	padding: 2px;
}

div.table_content {
	width:80px;
	text-align:center;
}

div.table_description {
	width:100px;
}

#operation {
	font-size:18px;
}

#network-popUp {
	display:none;
	position:absolute;
	top:350px;
	left:170px;
	/*z-index:299;*/
	z-index:0;
	/*width:250px;
	height:180px;*/
	background-color: white;
	border-style:solid;
	border-width:3px;
	border-color: #5394ed;
	padding:10px;
	text-align: center;
}



.tooltips{ border-width: 1px; border-style: solid; position: absolute; display: none; border-radius: 3px; opacity: 0; filter:alpha( opacity = 0) ; z-index: 999;}
.tooltips p.content{ padding: 5px; }
.tooltips .triangle-front,.tooltips .triangle-back{ width: 0; height: 0; overflow: hidden; border-width: 8px; border-style: solid; position: absolute; border-color: transparent ; top: 100%; left: 50%; margin-left: -8px;}
.tooltips .triangle-back{ margin-top: -1px;}

.yellow{ border-color: #c7c08d; background-color: #fffac3;}
.yellow .triangle-front{ border-top-color: #c7c08d;}
.yellow .triangle-back{ border-top-color: #fffac3;}